.container {
  width: 100%;
  max-width: 1024px;
  min-height: 90vh;

  padding: 100px 20px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;  
}

.img_logo {
  width: 250px;
  background-color: aqua;
}

.link_gh {
  background-color: red;
  padding: 10px;

  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;

}

