.container_principal {
  width: 100%;
  padding: 60px 20px;
}

.container_texto {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  text-align: center;
  border: 1px solid grey;
  border-radius: 8px;
}

.container_texto h1 {
  color: white;
  font-size: 46px;
}

.container_texto p {
  color: grey;
  font-size: 22px;
}

.autor {
  font-style: italic;
  text-decoration: underline;
}